@import url('https://fonts.googleapis.com/css?family=Roboto:900i');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
 */

/* 
#b7b7af
#848388
#5d5e60
#373737
#0f0f0f
 */

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
    text-decoration: none;
    transition: all.3s ease;
    -ms-transition: all.3s ease;
    -o-transition: all.3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all.3s ease;
}

a:hover{
    color: #373737;
    text-decoration: none;
    transition: all.3s ease;
    -ms-transition: all.3s ease;
    -o-transition: all.3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all.3s ease;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* ----------------------------------------------------------------- Стили к header */

header{
    float: left;
    background-color: #0f0f0f;
    width: 96%;
    height: 111px;
    padding: 1%;
    margin: 1%;
    color: #b7b7af;
    border-radius: 25px;
    font-size: 3em;
    border-bottom: 5px solid #b7b7af;
}

header>div{
    float: left;
    text-align: center;
    width: 96%;
}

/* ----------------------------------------------------------------- Стили к article */

#fuelcalc, #vucalc, #aboutus{
    width: 96%;
    margin: 1%;
    margin-top: 0px;
    padding: 1%;
    height: 115px;
    float: left;
    background-color: #848388;
    color: #373737;
    font-size: 90px;
    border-radius: 25px;
    text-align: center;
}

#img{
    float: left;
    width: 115px;
}

div#img>img{
    width: 115px;
}

/* ----------------------------------------------------------------- Стили к footer */

footer{
    width: 96%;
    margin: 1%;
    margin-top: 0px;
    padding: 1%;
    height: 50px;
    float: left;
    background-color: #b7b7af;
    color: #373737;
    font-size: 45px;
    border-radius: 25px;
    text-align: center;
}

#footerdeveloper{
    float: left;
}

#footerlogo{
    float: right;
}

#footerlogo>a#logo>img{
    width: 45px;
}
